@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;700&display=swap');
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: black;
    background: linear-gradient(to bottom, white, #facec8);
}
/* Thanh navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 70px;
    background-color: rgba(74, 133, 252, 0.7);
}

/* Chia deu cac link tren 1 dong */
nav ul {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: space-evenly;
    height: 70px;
    margin: 0;
    padding: 0;
}



nav li {
    flex: 1;
}

/* Doi mau khi hover */
nav li:hover {
    background: rgba(100, 200, 250, 0.9);
}


nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Dinh dang chu */
h1, h2, h3 {
    color: #004080;
}
h1 {
    text-align: center;
}
main {
    padding: 0 200px;
}
/* Image size except hue */
img:not(.hue) {
    height: 750px;
    width: auto;
}
/*Mark current link */

nav a {
    position: relative;
    text-decoration: none;
}

nav a.active {
    border-bottom: 3px solid darkblue;
    color: white;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: darkblue;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
    transform: scaleX(1);
}

